body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center; /* Centraliza o conteúdo */
    align-items: center; /* Alinha o conteúdo verticalmente */
    padding: 50px;
    background-color: #4CAF50;
    color: white;
}

.text-container {
    position: relative; /* Necessário para posicionar a logo dentro dessa área */
    text-align: center; /* Centraliza o texto */
}

.logo {
    position: absolute; /* Posiciona a logo dentro do texto */
    top: 50%; /* Centraliza verticalmente */
    left: 50%; /* Centraliza horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta para garantir que a logo fique exatamente no centro */
    opacity: 0.4; /* Deixa a logo mais clara */
    z-index: -1; /* Coloca a logo atrás do texto */
    width: 150px; /* Tamanho ajustável da logo */
    height: auto;
}

h1 {
    margin: 0;
    font-size: 36px;
    position: relative; /* Necessário para que o texto fique sobre a logo */
}

p {
    margin: 5px 0 0 0;
    font-size: 18px;
    position: relative; /* Necessário para que o texto fique sobre a logo */
}

.content-container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra para a container */
    border-radius: 10px;
}

.content {
    background: white;
    padding: 20px;
    margin: 10px;
    flex: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: all 0.3s ease; /* Transição para efeito de hover */
}

.content h2 {
    color: #333;
}

.content p {
    font-size: 16px;
    color: #666;
}

.content:hover {
    transform: translateY(-5px); /* Eleva o div quando o mouse passa sobre */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); /* Sombra mais forte ao passar o mouse */
    cursor: pointer; /* Altera o cursor para pointer */
    background-color: #ADD8E6; /* Azul claro no fundo ao passar o mouse */
}

.footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

.footer a {
    color: #4CAF50;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

/* Responsividade */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center; /* Centraliza logo e texto em dispositivos menores */
    }

    .logo {
        width: 100px; /* Logo um pouco menor em dispositivos menores */
    }

    .content-container {
        flex-direction: column;
    }

    .content {
        margin: 10px 0;
    }
}
/* Estilo para os links de redes sociais */
.social-links {
    text-align: center; /* Centraliza o conteúdo */
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.social-links h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-icon {
    width: 40px; /* Ajuste o tamanho dos ícones */
    height: auto;
    transition: transform 0.3s ease; /* Efeito ao passar o mouse */
}

.social-icon:hover {
    transform: scale(1.3); /* Aumenta o ícone ao passar o mouse */
}

/* Responsividade para dispositivos menores */
@media (max-width: 768px) {
    .social-icons {
        flex-direction: column;
    }

    .social-icon {
        width: 50px; /* Aumenta o tamanho do ícone em dispositivos menores */
        margin-bottom: 10px;
    }
}

/* Começo banner rotativo */
.banner-container {
    position: relative;
    max-width: 100%;
    margin: 20px auto;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #f9f9f9;
}

.banner-container img {
    width: 100%; /* Ajusta a largura da imagem para 100% */
    max-width: 1024px; /* Limita a largura máxima da imagem */
    height: auto; /* Mantém a proporção da altura automaticamente */
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: opacity 0.9s ease;
}

.banner-nav {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.banner-nav button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.3s ease;
    margin: 0 10px;
}

.banner-nav button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.banner-nav button:focus {
    outline: none;
}

/* Responsividade para dispositivos menores */
@media (max-width: 768px) {
    .banner-container img {
        max-width: 100%; /* Ajusta a imagem para ocupar toda a largura da tela em dispositivos menores */
        height: auto; /* Mantém a proporção da imagem */
    }

    .banner-nav button {
        font-size: 16px; /* Ajusta o tamanho das setas para dispositivos menores */
        padding: 8px; /* Reduz o tamanho das setas */
    }
}

/* Fim banner rotativo */

/* Começo botão hover */
.contact-button {
    color: black; /* Cor do texto do botão */
    background-color: #FFA500; /* Cor de fundo laranja */
    padding: 10px 20px; /* Espaçamento interno */
    text-decoration: none; /* Remove o sublinhado do link */
    border-radius: 5px; /* Bordas arredondadas */
    font-size: 16px; /* Tamanho da fonte */
    font-weight: bold; /* Negrito nas letras */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra leve ao redor do botão */
    transition: all 0.3s ease; /* Transições suaves para o efeito hover */
}

.contact-button:hover {
    transform: scale(1.3); /* Aumenta o botão ao passar o mouse (um pouco mais de aumento) */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.9); /* Sombra mais forte ao passar o mouse */
    background-color: #FF8C00; /* Cor de fundo laranja mais escura ao passar o mouse */
}
/* FInal botão hover */

/* Inicio carteira clicável */
.wallet-btn {
    background-color: #FFA500; /* Laranja */
    color: black; /* Texto preto */
    padding: 12px 24px; /* Espaçamento interno */
    text-decoration: none; /* Remove o sublinhado */
    border-radius: 5px; /* Bordas arredondadas */
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra leve */
    transition: all 0.3s ease; /* Transições suaves */
    margin-top: 10px;
    width: auto; /* Garantir que a largura seja automática */
    max-width: 100%; /* Para garantir que o botão não ultrapasse a largura disponível */
    display: inline-block; /* Faz o botão ocupar somente o espaço necessário */
    text-align: center; /* Centraliza o texto no botão */
    transform-origin: center center; /* Foca o ponto de transformação no centro do botão */
}

.wallet-btn span {
    display: inline-block; /* Garante que o texto seja clicável */
}

.wallet-btn:hover {
    transform: scale(1.1); /* Aumenta o tamanho do botão ao passar o mouse */
    background-color: #FF8C00; /* Cor de fundo laranja mais escura */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5); /* Sombra mais escura */
}

.wallet-btn:focus {
    outline: none; /* Remove o contorno de foco */
}

/* Responsividade */
@media (max-width: 768px) {
    .wallet-btn {
        font-size: 14px; /* Reduz o tamanho da fonte em dispositivos menores */
        padding: 10px 20px; /* Ajusta o espaçamento para telas menores */
        width: 100%; /* Faz o botão ocupar toda a largura disponível em telas menores */
    }
}

@media (max-width: 480px) {
    .wallet-btn {
        font-size: 12px; /* Tamanho da fonte menor para dispositivos ainda menores */
        padding: 8px 16px; /* Ajuste do espaçamento interno */
    }
}
/* Final carteira clicável */
